
**/node_modules

/frontend/dist

/frontend/.DS_Store
/frontend/npm-debug.log*
/frontend/yarn-error.log

/frontend/.idea
**/yarn.lock
/frontend/package-lock.json
/frontend/pnpm-lock.yaml
/frontend/*bak


/frontend/.history
*.log
/frontend/functions/*
/frontend/.temp/**

**/.umi
**/.umi-production

# screenshot
/frontend/screenshot
/frontend/.firebase
/frontend/.eslintcache

/frontend/build

/backend/.env 
/backend/.venv 
/backend/env
/backend/venv
/backend/ENV
/backend/venv.bak

/backend/*.log
/backend/*.pot
/backend/*.pyc
/backend/**/__pycache__
/backend/db.sqlite3
/backend/media